.error {
    color: rgb(236, 0, 0);
    font-weight: bold;
    letter-spacing: normal;
    font-size: 3vh; /* Adapté à la hauteur */
}

.hidden {
    display: none;
}

header {
    height: 80vh;
    background-color: rgba(163, 163, 163, 0.938);
    background-image: url(image_upscaled.png);
    background-size: cover; /* Recommandé pour les images de fond */
}

body {
    font-family: sans-serif;
    background-color: rgba(138, 0, 0, 0.938);
    overflow-x: hidden; /* Évite le scroll horizontal dû aux grandes marges */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin-bottom: 25vh;
}

.logo {
    width: 8vh; /* Proportionnel à la hauteur */
    height: 8vh;
    border-radius: 100%;
    margin: 1vh;
}

.navbar {
    padding-top: 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    gap: 10vw; /* Espace proportionnel à la largeur de l'écran */
    background-color: rgb(43, 43, 43);
}

.box{
    font-size: 4vh;
    color: rgb(180, 2, 2);
}

a {
    color: rgb(255, 0, 0);
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: white;
}

/* --- Ajustement des grandes marges --- */

.a1 {
    margin-right: -8vw;
    margin-left: 60vw; /* Équivalent adaptatif de 1000px sur grand écran */
}

.loca {
    width: 10vw; /* Environ 250px sur écran standard */
    height: auto;
    margin-left: 60vw;
    margin-top: -70vh;
    margin-bottom: 5vh;
}

.call {
    width: 15vw;
    height: auto;
    margin-left: 25vw;
    margin-top: -5vh;
}

.locaspeech {
    margin-left: 60vw; /* Équivalent adaptatif de 1275px */
    color: white;
}

.callspeech {
    margin-top: -5vh;
    margin-left: 30vw;
    color: white;
}