p{
    color:blueviolet
}
h1{
    font-size: 40px;
    color:chocolate;
    padding: 15px;
    background-color: aqua;
}

H2{
    color:aqua
}
li{
    color:blue 
}
balise{
    color:gold
}

h3{
    color:red
}
img{
    width: 500px;
}